@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.poppins {
    font-family: "Poppins", sans-serif;
}


/* Common CSS Style */
.display-flex {
    display: flex;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.common-btn  {
    padding: 10px 24px;
    background-color: rgba(224, 44, 109, 1);
    color: white;
    border: none;
    width: fit-content;
    cursor: pointer;
    
}

.common-btn:hover {
    background-color: rgb(94, 0, 63);
}

.common-p {
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
    color: rgba(58, 58, 58, 1);
}

/* nav CSS styles  */
nav {
    justify-content: space-between;
    margin-top: 80px;
}

nav p {
    color: rgba(58, 58, 58, 1);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 36px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 34px;
    
}

/* Hero Section CSS Style  */

.hero-container {
    margin-top: 40px;
    margin-bottom: 70px;
    gap: 133px;
    justify-content: center;
    align-items: center;
  
}

.hero-left {
    flex-direction: column;
    gap: 16px;
}
.hero-container button {
    border-radius: 41px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
}

.hero-container h1 {
    color: rgba(58, 58, 58, 1);
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;

}

.hero-image {
    position: relative;
    width: 475px;
    height: auto;
}

.bg-img {
    width: 100%;
    display: block;
}

.top-img {
    width: 365px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

/* Add section */
.add-grid {
    padding: 42px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
    align-items: center;
    justify-items: center;
   


    background-image: 
    linear-gradient(to right, transparent, #ccc, transparent), /* উপরের লাইন */
    linear-gradient(to right, transparent, #ccc, transparent); /* নিচের লাইন */
  
    background-repeat: no-repeat;
    background-size: 100% 1px; /* লাইনের লম্বা ১০০% এবং মোটা ১ পিক্সেল */
    background-position: top center, bottom center; /* একটি উপরে এবং একটি নিচে */
}

/* popular-collection Styles */
.popular-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 45px;
    margin-bottom: 50px;
}
.popular-collection {
    margin-top: 100px;
    margin-bottom: 100px;
}

.popular-collection h2 {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 70px;
    color: rgba(58, 58, 58, 1);
    margin-bottom: 30px;
}

.popular-item-card {
    width: 329px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    flex-direction: column;
    padding: 15px;
    background-color: rgba(255, 255, 255, 1);


}
.card-img {
    width: 300px;
    height: 256px;
}

.card-title {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 40px;
    margin: 16px 0 6px 0;

}

.price {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
    font-family: 400;
    line-height: 150%;
}

.card-discription {
    color: #787885;
    font-size: 0.875rem;
    font-weight: 600;
    /* margin-top: 3px; */
}

.star-rate {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
}

.star-rate span {
    font-size: 10px;

    color: gold;
}

.see-more {
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
}



/* Featured products at one place css style */
.featured-content {
    gap: 96px;
    align-items: center;
    margin-bottom: 100px;
}
.featured-img {
    width: 404px;
    height: 270px;
    border-radius: 7px;
}

.featured-text {
    max-width: 610px;
}

.featured-text h2 {
    font-size: 2.375rem;
    font-weight: 700;
    color: rgba(10, 8, 38, 1);
    line-height: 60px;
}

.featured-text p {
    max-width: 501px;
    font-size: 1rem;
    font-weight: 700;
    color: rgba(108, 108, 108, 1);
    line-height: 28px;
    margin: 16px 0;
}

.featured-text button {
    padding: 10px 24px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
}

/* footer section Style */

footer {
    background-color: rgba(10, 8, 38, 1);;
    color: aliceblue;
}

.footer-elemant {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    
}

.footer-elemant a{
    text-decoration: none;
}
.footer-elemant h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 36px;
}
.footer-elemant p {
    color: rgba(108, 108, 108, 1);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 24px;
}

.footer-links {
    text-align: center;
    margin-top: 17px;
}

.footer-links a {
    text-decoration: none;
    margin-right: 16px;
}


.ezaz:hover {
    color: rgb(238, 0, 99);
}

/* Responseb Section */


@media screen and (max-width:576px) {

    nav {
        flex-direction: column;
        align-items: center;
        gap: 25px;
        margin-top: 40px;

    }

    .hero-container {
        max-width: 500px;
        flex-direction: column-reverse;
        gap: 40px;
    }

    .hero-left {
        align-items: center;
        text-align: center;


    }

    .hero-left h1 {
        font-size: 1.75rem;
        line-height: 42px;
    }

    .hero-left p {
        font-size: 0.875rem;
        line-height: 21px;
    }

    .add-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        align-items: center;
        justify-items: center;
    }

    .popular-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    justify-items: center;
    }

    .featured-content {
        flex-direction: column-reverse;
        max-width: 526px;
        align-items: center;
    }


    .featured-text h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(10, 8, 38, 1);
    line-height: 36px;
    }

    .featured-text {
        text-align: center;
    }

    .featured-img img {
        width: 100%;
    }



}